<footer>
    <!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">¡Regístrate Gratis!</h5>
        </li>
        <li class="list-inline-item">
          <a href="/register" class="btn btn-secondary" role='button' aria-pressed="true">Aquí</a>
        </li>
      </ul>
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Stefano Brascetta, 2020 Copyright
      
  
  </footer>
  <!-- Footer -->
</footer>