<!DOCTYPE html>
<html>
  <head>
    <title>Vitalcer</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <%- include('partials/header')%>
  </body>
</html>
